* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    z-index: 1000;
}

.navbar-brand {
    font-size: 25px;
    text-shadow: 2px 2px rgba(229, 226, 226, 0.3);
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(214, 211, 211);
    transition: linear 0.15s;
}

.nav-link:hover::after {
    width: 100%;
}

::placeholder {
    color: rgba(255, 255, 255, 0.678) !important;
    font-size: 13px;
}
  

input.form-control {
    font-size: 13px;
    border-radius: 0;
    background-color: transparent;
    color:#fff;
    width: 160px !important;
}

input.form-control:focus {
    background-color: transparent;
    color:#fff;
    box-shadow: none;
}

#search-btn {
    background-color: transparent;
    color: rgba(255,255,255,.5);
}

#search-btn:hover {
    color: rgba(255, 255, 255, 0.842)
}

.search-wrapper {
    border-bottom: 1px solid rgb(255, 255, 255) !important;
}

.btn:focus, .btn:active {
    box-shadow: none !important;
}

@media (max-width: 979px) {
    .navbar {
        border-radius: 0;
    }

    .nav-link {
      padding-left: 0 !important;
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
    }
    .navbar-brand {
        margin: auto; 
        text-align: center; 
        display: block;
    }

    .search-wrapper {
        margin-left: 0 !important;
        display: inline-block;
    }

    #title, #content {
        text-align: center;
    }
  }

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    line-height: 70px;
    
}

#content {
    font-size: 16px;
    line-height: 35px;
    text-align: justify;
    text-indent: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.281);
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

.card {
    width: 80%;
    height: 220px;
    border-radius: 10px;
    padding: 20px 25px;
    margin: 20px 15px;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: center;
    transition: linear 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

#card-1 {
    background-image: url("card-1.jpg");
}

#card-2 {
    background-image: url("https://images.theconversation.com/files/286835/original/file-20190804-117866-1q7tbvy.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
}

.card h1 {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px rgba(229, 226, 226, 0.5);
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 3px;
    width: 100%;
}

.card button {
    background-color: #5b9ac2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.category {
    margin: 60px 0 5px 0;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-detail-row {
    align-items: flex-start;
}

.card-detail-row .col-12 h2 {
    font-size: 50px;
    color: #2a343a;
    font-family: 'Bebas Neue', cursive;
    
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 1.5px dashed grey;
    border-radius: 9px;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}

.image div {
    font-size: 18px;
    text-align: center;
}

.upload-icon {
    font-size: 80px;
    color: #385f77;
}

.upload-btn {
    width: 100%;
    height: 50px;
    background-color: #385f77;
    color: azure;
    border-radius: 20px;
    font-size: 17px;
    text-transform: uppercase;
}

.upload-btn:hover {
    color: #385f77;
    background-color: transparent;
    border: 1px solid #385f77;
}

.info-card {
    width: 90%;
    height: auto;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.info-card:hover {
    background-color: rgba(224, 224, 224, 0.603);
}

.card-img-top {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.card-title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.card-text {
    letter-spacing: 1.5px;
}

.media-links {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(128, 128, 128, 0.301);
    padding-top: 10px;
}

.media-links a {
    padding: 0 15px;
    color: #7a858b;
    font-size: 20px;
}

.media-links a:hover {
    color: #0191eb;
}

#footer-wrapper {
    height: auto;
    background-color: #385f77;
}

footer {
    color: white;
}

.footer-row {
    align-items: flex-start;
    padding: 0 16px;
    border-bottom: 1px solid rgb(214, 214, 214);
}



#contact-info-title {
    font-size: 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
    display: inline-block;
}

#company-info-title {
    font-size: 25px;
    border-bottom: 0;
}

.row-contact-content {
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
}

.row-contact-content p {
    text-align: justify;
    margin-left: 4px;
}

.row-contact-content .col-1 {
    text-align: center;
}

.row-contact-content .col-1 i {
    width: 100%;
    padding: 0;
    vertical-align: middle;
}

.media-links-footer a {
    color: white;
    font-size: 25px;
    padding: 0 30px;
}

.media-links-footer a:hover {
    color: #afe0ff;
}

#copyright {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .row-contact-content p {
        font-size: 20px;
    }
}
